.icon-cart{
    width: 30px;
    position: relative;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;

}

svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

 .icon-cart span{
    display: flex;
    width: 24px;
    height: 24px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -10px;
}


.listProduct .item img{
    filter: drop-shadow(0 50px 20px #0009);
    height: 230px;
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}

.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

}



.cart-body{
    left: -20px;
    height: 205 px;
}
 
.showCart{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 82px -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;

}

.cartTab{
    inset: 82px 0 0 auto;
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body .showCart .container{
    transform: translate(-250px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #e8bc0e;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;

}

.cartTab .btn button:hover{
    background-color: rgb(135, 135, 141);
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding-top: 5px;
   
}

.listCart .quantity span{
   display: inline-block;
   width: 25px;
   height: 25px;
   background-color: #eee;
   color: #555;
   border-radius: 50%;
   cursor: pointer;
   margin: 2px;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart ::-webkit-scrollbar{
    width: 0;
}